@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom);
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.font-cyrillic-display {
  font-family: var(--font-cyrillic-display), var(--font-display), sans-serif;
}
.font-cyrillic-sans {
  font-family: var(--font-cyrillic-sans), var(--font-sans), sans-serif;
}